  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 

<script> 
  $(document).ready(function(){

    $('#post_button').click(function(){
          $.ajax({
                url: "",
                type: "POST",
                dataType: "json",
                enctype: "multipart/form-data",
                data : {
                  wallpost:$('#wallpost').val(),
                  city_slug : $('#city_slug').val(),
                  country_slug :$('#country_slug').val(),
                  csrfmiddlewaretoken:'{{csrf_token}}',

                },
                success:function(json)
                {
                  $('#ajax_test_div').append(json);
                },
                error:function(xhr, errmsg,err){
                  alert(xhr.status +":"+ xhr.responseText);
                }

                
                });
        return false;

                
            



               



    });



  
 
 

});
</script>

    