{% extends "base.html" %}
{% load staticfiles %}
{% load notifications_tags %}
{% load thumbnail %}
{% load endless %}
{% load voting_tags %}



{% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
   
    
    <title>Gulf Fishing</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">
   
    <!-- Custom styles for this template -->
    <link href="{% static "city.css" %}" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
 <script>
    



    $(document).ready(function(){

     $('.upButton').click(function(){
        var post_id = $(this).data('id');
        
        $.ajax({
            url: "{% url 'upvote_ajax' %}",
            dataType:"json",
            type:"POST",
            data:{
              post_id:post_id,
              csrfmiddlewaretoken:'{{csrf_token}}',
            },
            success:function(json)
            {
              
               $('.post-points[data-id='+post_id+']').html(json.points);
               $('.upButton[data-id='+post_id+']').css('color', 'orange');

              
            },
          
        });

      });
    });
  




  </script>
   



  </head>
{% endblock %}

<body>
 {% block bar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url 'index' %}>Gulf Fishing</a>
        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           {% if user.is_authenticated %} 
              <li><a href="{% url 'home' user_id=user.id%}">Home</a></li>
             {% endif %}
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
 {% if user.is_authenticated %}
            <li><a href={% url 'profile' user.id %}>Profile</a></li>
  {% endif %}

  <!--          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>   -->
          </ul>
          {% block user %}
      
    {% if user.is_authenticated %}
    
      <ul class="nav pull-right" style="padding:2%">
     <a href="{% url 'logout' %}" class="btn btn-primary icon  pull-right">Log out</a>
    </ul>

      <ul class="nav pull-right" style="padding:1%">
   <a href="{% url 'profile' user.id %}" ><h5 style="color: #0099FF"> {{ user.name }}</h5></a>
    <h6  style="color: #CC0000">{{user.reputation}}</h6>
        </ul>
      

      <ul class="nav pull-right" style="padding-top: 1%; padding-right:0.5%">
        
        {% thumbnail  user.image "50x50" crop="center" as im %}
       <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}  
        
      </ul>
    
      
       


    
    {% else %}


     <form class="navbar-form navbar-right" action= "{% url 'login' %} ?next={{request.path }}" method="post">{%csrf_token%}
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <input button type="submit" class="btn btn-success" value="Sign In">
          </form>
        <!--/.navbar-collapse -->
  {% endif %}      
  </div>
  </div>
    {% endblock %}
    </div>
{% endblock %}






{% block hero %}

<div class="jumbotron" style="margin-top:40px">
      <div class="container" >
       <ul class = "nav pull-left" style="padding: 2%">
       <img class= "img-circle" src= "/media/logo.jpg" height="100px" width="100px">
       </ul>
        <h1>Fishing in {{city}}</h1>
        <p>Share information - Ask questions - Upload catches</p>
        {% if user.is_authenticated %}
        
        {% else %}
        

        <ul class = "nav pull-right">
        <p><a href="/register" class="btn btn-primary btn-sm">Join for FREE! &raquo;</a></p>
        </ul>


      {% endif %}
      


      </div>
    </div>

{% endblock %}









  


{% block main %}



<div class="container" style="margin-left:20%; margin-right:20%;">
      <!-- Example row of columns -->
   <ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'insideCity_wall' city.country.slug city.slug %}">Wall</a></li>
  
  <li></li>
  {% if user.is_authenticated %}
  {% notifications_unread as unread_count %}
        


        {% if unread_count %}
      <li><a href="{% url 'notifications' user_id=user.id %}">Notifications<span class="badge pull-right" style="background-color:orange; margin-left:5px">{{unread_count}}</span></a></li>
  
      {% else %}
  <li><a href="{% url 'notifications' user_id=user.id %}">Notifications</a></li>

  {% endif %}
  <li><a href="#">Messages</a></li>
  {% endif %}
</ul>   
    

<div class="row marketing" style = "padding-top:10px;border:dotted 1px">

<div class="container" >
      
          <form method="post" id ="wallpost_form" enctype="multipart/form-data">{% csrf_token %}
             
            <textarea  rows = "3" id="wallpost" name="wallpost" class="input-block-level" placeholder="Lets fish together - POST AWAY!" style="border:solid 1px"></textarea>
          
          
          <input type="file" name="wallimage" id="wallimage">

          <input type="hidden" id="city_slug" value = "{{city.slug}}" name="city_slug"></input>
          <input type="hidden" id = "country_slug" value = "{{city.country.slug}}" name="country_slug"></input>
          <button type="submit" id="post_button" class="btn btn-warning pull-right" style="margin:1%"><i class="icon-upload icon-white"style="margin-right:5px"></i>Post</button>
          

        
          
          </form>
         
      </div>
      </div>
 














    <div class="row">
    <div class="span12">
    <form method="get" action="" class="form-inline" >
    <input name="q" class="span5" type="text" placeholder="Keywords: Ruby, Rails, Django" >
    
    <button type="submit" class="btn btn-primary"> <i class="icon-search icon-white"></i></button>
    </form>
    </div>
    </div>
    <hr>


{% paginate posts %}

<div class="posts">
{% for post in posts %}
        
      
        

      
        <div class="panel-body" data-id="{{post.id}}" style="background-color:yellow">
          
         <a href="{% url 'profile' post.author.id %}" style="text-decoration:none"> <ul class="nav pull-left">
            {% thumbnail post.author.image "50x50" crop="center" as im %}
              <img src = "{{im.url}}" width="{{im.width}}" height="{{im.height}}">
            {% endthumbnail %}
            <li style="text-align:center">{{post.author.name}}</li></a>
            <li style="text-align:left">{{post.author.reputation}}</li>
          

         
          </ul>
            

           
            <div class = "post_text">
             <div class="panel panel-default" style="padding:1%;" >
              
              {% if post.image %}

              
              {% thumbnail post.image "200x200" crop="center" as im %}
                      <a href="{{post.image.url}}"><img src= "{{im.url}}" width="{{im.width}}" height="{{im.height}}" ></a>
              {% endthumbnail %}
             
              </div>
              <div class="panel panel-default" style="padding:1%;  " >
              <p >{{post.text}}</p>
             
              
            {% else %}

            
                <div class="panel-title"  style="padding:1%;">
               
                     {{post.text}}

                  </div>

            {% endif %}
            
               </div>
         
         

         <a href="{% url 'conversation' country_slug=post.country.slug city_slug=post.city.slug post_id=post.id %}"><button type="button" class="btn btn-warning pull-right" style="margin:1%">{{post.get_comments_count}} Comments &raquo;</button></a>


         
     <div class="pull-left"> 
      <form id ="upform" method="post" >
       
        </form></div>

 <input type="submit" value="V" class="upButton" data-id="{{post.id}}">{% csrf_token %}</input>
         
   
      
     
      <div class="pull-left"><span class="badge" ><p class="post-points" data-id="{{post.id}}">{{post.points}}</p></span></div>
     

      <div class="pull-left"> <form method="post"action="{% url 'downvote' post_id=post.id%}?next={{request.path}}">{%csrf_token%}
        <button type="submit" name="downvote">Down</button>
        <input type="hidden" name="post_id" value="{{post.id}}"></input>
        </form></div>

     
          

          <div class="pull-right"><span class="badge badge-success">Posted on {{post.posted_at}}</span></div>

          </div>


  

  
      </div>

     

       

  <hr>

       

  

  




  {% endfor %}


</div>
  
<div class="pagination">  

{% show_pages %}

</div>

  </div>
  {% endblock %}










</body>







</html>