
{% load thumbnail %}


<div class="row" style="background-color:white;margin:5px;border:;border-color:;padding:8px;"> 
        
        <ul class="nav pull-left" style="text-align:center; margin:5px">
           <a href="{% url 'profile' author.id %}" style="text-decoration:none">
            {% thumbnail comment.author.image "35x35" crop="center" as im %}
              <img src = "{{im.url}}" width="{{im.width}}" height="{{im.height}}" >
            {% endthumbnail %} 
            <li style="text-align:center; font-size:10px">{{author.name}}</li></a>
            <li style="font-size:10px; margin-top:-2px;">{{author.reputation}}</li>
          </ul>
         
          <div class="col-lg-9" style=" padding:;">
           <form class="edited_comment_form" action='{% url "edit_comment" comment.id %}'>{% csrf_token %}
            <input class="form-control" type="text" name = "comment" value ="{{comment.text}}" />
            <div class="pull-right" style="margin:3px;">
            <button class="btn btn-sm" type="submit">Post</button>
            </div>
           </form>
       </div>
        
         <span class="pull-right" style="font-size:10px; color:grey;"></span>
       </div>