{% extends "index.html" %}
{% load staticfiles %}

{% load thumbnail %}










{% block hero %}

<div class="jumbotron" style="margin-top:40px; height:450px; background-image:url('{{country.flag.url}}');background-repeat:no-repeat; background-size:cover;background-position:center;" >
      <div class="container" style="text-align:left" >
       
     

       
       <img src= "/media/fishing_logo.png" height="150px" width="150px">
        <h2>Gulf Fishing Club <b>{{country}}</b></h2>
         
        
        
        
        
        </ul>
      </div>
    </div>

  {% endblock %}


  {% block main %}
 <div class="container">
      <!-- Example row of columns -->
      {% if country.cities.count == 0 %}

      <h3 style="text-align:center"><a href="/add_city">Create your city</a><h3>

       {% else %}


        {% for city in cities %}
      
  
        <div class="col-lg-4" style="margin-bottom:25px">
        <ul class="thumbnails" style="list-style-type:none">
          <li class="span4 newclass" style = "width:250px!important;">
          <div class="thumbnail" style="padding:0">
          <div style="padding:4px">
            <div class="panel panel-default" style="text-align: center;">
            <div class="panel-heading" >
                <div class="caption">
            <a href="{{ city.get_absolute_url }}"><h3>{{city}}</h3>
            </div>
            </div>
          </div>
            {% thumbnail city.image "240x200" crop="center" as im %}
            <img src = "{{im.url}}" width= "{{im.width}}" height="{{im.height}}">
            {% endthumbnail %}

          </div></a>
          
            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
               <div class="row-fluid">
                <div class="span4"><b>{{city.get_member_count}} </b><small>Members</small></div>
              </div>
              </div>
            </div>
        </div>
        </li>
    
    
          </ul>
    
    
        </div>
        {% endfor %}

   <span class="badge pull-right" style="background-color:orange"><h4 ><a href ="/add_city" style="text-decoration:none;color:white;">Click here to add your city</a></h4></span>
    {% endif %}
    </div> <!-- /container -->

 
    

  {% endblock %}