<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">

</head>


<body>
	
	<div style="text-align:ceenter">
	<h1 style="font-family:Rancho; size:18px;">Gulf Fishing Club</h1><br>
	<p>Hi there! Cool new features have been added to the website! <a href="www.gccfishing.com">Go ahead and check them out.</a></p>
	<p>Incase you are busy, here's what is new:</p>
	<p><b>1.</b> You can now see the <b>best fishing times</b> in your city.</p>
	<p><b>2.</b> You can now <b>add tags</b> to your pictures and posts to make them more helpful to others.</p>
	<p><b>3.</b> <b>Live weather and Moon phase</b> information is now available for you to better plan your fishing trips.</p>
	
	<p>Coming soon are features to mark <b>Fishing Spots</b> and stream <b>Live Feeds</b> from fishing spots.</p>

	<p><i>To suggest a feature, kindly reply to this email.</i></p>

	<p>Thank you and Keep Fishing!</p>

</div>

	</body>

</html>