{% load staticfiles %}
{% load thumbnail %}
{% load notifications_tags %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fishing club for people living in Gulf countries to share information, find fishing spots and meet people for catching bigger and better fish.">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/media/fishing_logo.png">
    <title>Gulf Fishing Club - Fishing in Saudi Arabia, Fishing in Oman, Fishing in Qatar, Fishing in Kuwait, Fishing in Bahrain, Fishing in UAE</title>

    <!-- Bootstrap core CSS -->
    
<link href="{% static "bootstrap.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
 
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
{% endblock %}
  


  <body>

   {% block bar %}
    

    
   
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
       
          <ul style="list-style-type:none">
           <li class="dropdown">
              <a href="#" class="navbar-brand" data-toggle="dropdown">Gulf Fishing <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/">Home</a></li>
                     <li class="divider"></li>
                <li><a href="/locations/bahrain/">Bahrain</a></li>
                <li><a href="/locations/qatar/">Qatar</a></li>
                <li><a href="/locations/saudi-arabia/">Saudi Arabia</a></li>
                <li><a href="/locations/oman/">Oman</a></li>
                <li><a href="/locations/kuwait/">Kuwait</a></li>
           
             <!--   <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li> 
          </ul>


        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
 
            
  

         
          </ul>
     
{% block user %}

     {% if user.is_authenticated %}

      <div class="pull-right">
        <ul class = "nav pull-right">
           <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile' user.id %}">Profile</a></li>
                            <li><a href="{% url 'notifications' user_id=user.id %}">Notifications</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"> Logout</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
   

 
      
    
    
     

      <div class="pull-right" style="background-color:;height:45px;padding:3px;">
   <a href="{% url 'profile' user.id %}" style="text-decoration:none"><p style="color: #0099FF; font-size:12px;"> {{ user.name }}</p></a>
    <p title="Reputation" style="color: #CC0000; text-align:center;font-size:10px;margin-top:-10px;"><b>{{user.reputation}}</b></p>
        </div>
      

      <div class="pull-right" style="margin:3px;">
        
        {% thumbnail  user.image "40x40" crop="center" as im %}
       <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}  
        
      </div>
    
       {% notifications_unread as unread_count %}
        


        {% if unread_count %}
      
      <a href="{% url 'notifications' user_id=user.id %}"><i class="badge pull-right" style="background-color:orange; margin:15px">{{unread_count}}</i></a>
      
  
  
  


  {% endif %}
  
       


    
    {% else %}


     <form class="navbar-form navbar-right" action= "{% url 'login' %}" method="post">{%csrf_token%}
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <input button type="submit" class="btn btn-success" value="Sign In">
          </form>
        <!--/.navbar-collapse -->
  {% endif %}      
  </div>
  </div>
    {% endblock %}
    </div>
{% endblock %}         
    

{% block hero %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
  


    <div class="jumbotron" style="margin-top:40px; height:450px; background-image:url('/media/Images/carousel1.jpg');background-repeat:no-repeat; background-size:cover;background-position:center;">
      <div class="container" >
       <ul class = "nav pull-left" style="padding: 2%">
       <img src= "/media/fishing_logo.png" height="200px" width="200px">
       </ul>
        <h1 style="font-family:Rancho">Gulf Fishing Club</h1>
        <p>For people living in Gulf countries who like fishing - here you can share catches, find fishing spots and talk with other fishing buddies to catch bigger and better fish!</p>
        

        
        {%if user.is_authenticated%}
        
        <p><a href="{% url 'insideCity_wall' user.country.slug user.city.slug %}" class="btn btn-success">Go to Wall &raquo;</a></p>


        {%else%}
        <p><a href="/register" class="btn btn-primary">Join for FREE! &raquo;</a></p>
        {%endif%}
          

      </div>
    </div>



{% endblock %}
   




{% block main %}
  
   

  <div class="well"> 
 <div class="container">

<div class="row">
       
    {% for country in countries %}


        <div class="col-lg-4" style="text-align:center; margin-bottom:45px;">
          <a style = "text-decoration:none; font-color:black;" href="{{ country.get_absolute_url }}"><h3>{{country}}</h3>
           {% thumbnail country.image "300x300" crop="center" as im %}
            <img src = "{{im.url}}" width= "{{im.width}}" height="{{im.height}}"></a>
            {% endthumbnail %}
          
         
       {% if country.get_member_count == 1 %}
          <h5 style=" font-size:16px;"><img src="/media/Images/user.png" style="margin-right:15px;width:15px; height:15px;  "><b>{{country.get_member_count}}   Member</b></h5>
        {% else%}


          <h5 style=" font-size:16px;"><img src="/media/Images/user.png" style="margin-right:15px; width:15px; height:15px;  "><b>{{country.get_member_count}}   Members</b></h5>
          {% endif %}
          {% if country.get_city_count == 1 %}
        <h5 style=" font-size:16px;"><img src="/media/Images/spots.png" style="margin-right:15px;"><b>{{country.get_city_count}} City</b></h5>
      {% else %}


        <h5 style="font-size:16px;"><img src="/media/Images/spots.png" style="margin-right:15px;"><b>{{country.get_city_count}} Cities </b></h5>
      {% endif %}
        </div><!-- /.col-lg-4 -->
         {% endfor %}
       

  </div><!-- /.row -->


  





        
      
  





        
       


    </div> <!-- /container -->
</div>


{% endblock %}


{% block footer %}

   <footer class="widewrapper footer" style="margin-top:200px">
        <div class="container" >
            <div class="row footer">
                <div class="col-sm-3">
                    <h4>About GFC</h4>
                    <p>Gulf Fishing Club is a free fishing club for the people of Gulf countries to share their fishing experience.</p>
                </div>
                <div class="col-sm-3">
                    <div class="indent30">
                    <h4>Recent News</h4>
                    <ul class="grove-list">
                        <li><a href="#">GFC launches!</a></li>
                        
                    </ul>
                    </div>
                </div>
                
                

                <div class="col-sm-3">
                    <h4></h4>
                    <a href="#" class="glyphicons facebook"><i></i></a>
                    <a href="#" class="glyphicons twitter"><i></i></a>
                    <a href="#" class="glyphicons google_plus"><i></i></a>
                    <a href="#" class="glyphicons linked_in"><i></i></a>
                </div>            
            </div>
        </div>

        <div class="container">
            <div class="copyright" style="text-align:center">
                <p><img src="/media/logo.png" style="width:30px; height:30px;">Great White Studios, 2013 All Rights Reserved.</p>
            </div>
        </div>
    </footer>




{% endblock %}

 <script src="{% static "bootstrap.min.js" %}"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
  </body>

</html>
