{% load staticfiles %}
{% load thumbnail %}
{% load notifications_tags %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Gulf Fishing</title>

    <!-- Bootstrap core CSS -->
    
<link href="{% static "bootstrap.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
{% endblock %}
  


  <body>

   {% block bar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href={% url 'index' %}>Gulf Fishing</a>
        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
             {% if user.is_authenticated %} 
               <li><a href="{% url 'home' user_id=user.id%}">Home</a></li>
             {% endif %}
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
 {% if user.is_authenticated %}
            <li><a href={% url 'profile' user.id %}>Profile</a></li>
  {% endif %}

  <!--          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>   -->
          </ul>



 {% block user %}
      
    {% if user.is_authenticated %}
    
      <ul class="nav pull-right" style="padding:2%">
     <a href="{% url 'logout' %}" class="btn btn-primary icon  pull-right">Log out</a>
    </ul>

      <ul class="nav pull-right" style="padding:1%">
   <a href="{% url 'profile' user.id %}" ><h5 style="color: #0099FF"> {{ user.name }}</h5></a>
    <h6 style="color: #CC0000">{{user.reputation}}</h6>
        </ul>
      

      <ul class="nav pull-right" style="padding-top: 1%; padding-right:0.5%">
        
        {% thumbnail  user.image "50x50" crop="center" as im %}
       <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}  
        
      </ul>
    
      
       


    
    {% else %}


     <form class="navbar-form navbar-right" action= "{% url 'login' %} ?next={{request.path }}" method="post">{%csrf_token%}
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <input button type="submit" class="btn btn-success" value="Sign In">
          </form>
        <!--/.navbar-collapse -->
  {% endif %}      
  </div>
  </div>
    {% endblock %}
    </div>
{% endblock %}         
    

{% block hero %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
  


    <div class="jumbotron" style="margin-top:40px">
      <div class="container" >
       <ul class = "nav pull-left" style="padding: 2%">
       <img src= "/media/fishing_logo.png" height="200px" width="200px">
       </ul>
        <h1>Gulf Fishing Club</h1>
        <p>If you are in Gulf and you like fishing then this is the place for you to share your fishing experience, make friends and explore fishing spots around you.</p>
        

        <ul class = "nav pull-right">
        {%if user.is_authenticated%}
        
        <p><a href="{% url 'insideCity_wall' user.country.slug user.city.slug %}" class="btn btn-primary btn-lg">Go to Wall &raquo;</a></p>


        {%else%}
        <p><a href="/register" class="btn btn-primary btn-lg">Join for FREE! &raquo;</a></p>
        {%endif%}
          </ul>

      </div>
    </div>



{% endblock %}
   




{% block main %}
  
   

   
 <div class="container">

<div class="row">
        <div class="col-lg-4">
         

          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Meet People</h2>
         
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
         

          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Meet People</h2>
         
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
         

          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Meet People</h2>
         
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
         

          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Meet People</h2>
         
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
         

          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Meet People</h2>
         
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
         

          <img class="img-circle" src="data:image/png;base64," data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Meet People</h2>
         
        </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->


  





        {% for country in countries %}
      
  <div class="col-lg-4" style=" width:310px!important">
        
        <ul class="thumbnails" style="margin:2%;">
          <div class="span4 newclass" style = "width:305px!important">
          <div class="thumbnail" style="padding: 0; border:solid 1px; border-color:orange">
          
            <div class="panel panel-default" style="text-align: center; height:40px">
            <div class="panel-heading">
                
            <a style = "text-decoration:none" href="{{ country.get_absolute_url }}"><h3>{{country}}</h3>
           
            </div>
          </div>
            {% thumbnail country.image "300x300" crop="center" as im %}
            <img src = "{{im.url}}" width= "{{im.width}}" height="{{im.height}}">
            {% endthumbnail %}

          </a>
          
          <div class="panel panel-default" style="text-align: center">
            <div class="panel-heading">
        
        <div class="row-fluid">
            <div class="span4"><b>{{country.get_member_count}} </b><small>Members</small></div>
            <div class="span4"><b>{{country.get_city_count}} </b><small>Cities</small></div>
        
        </div>
        </div>
        </div>
        

        </div>
       </div>
    
    
          </ul>
    
    </div>
    </div>
    </div>
    </div>
        </div>





        
        {% endfor %}


    </div> <!-- /container -->



{% endblock %}




<div class="container" style = "background-color:yellow">
    
    </div>


   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery.js" %}" ></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
  </body>

</html>
