


<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
 


  </head>


<body >


<div style="width:600px; height:800px;">
  
  <p>The Gulf Fishing Club </p><br>
  <div style="background-color:#F5F5F5; margin:15px; padding:15px;">
   <p> Hi there,</p><br>
   <p>You have been invited by {{name}} to join the Gulf Fishing Club! At the club, you can meet other people and share information, get to know the best fishing techniques, find fishing spots around you and more. Join the club at </p> <a  href="http://www.gccfishing.com">www.gccfishing.com</a>
   



  </div>
  


	</body>








</html>