{% extends "index.html" %}
{% load staticfiles %}
{% load notifications_tags %}
{% load thumbnail %}
{% load endless %}
{% load voting_tags %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
   
    
    <title>Gulf Fishing</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">
     <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "city.css" %}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  
<script> 

 

</script>

    
   



  </head>
{% endblock %}

<body>
 





{% block hero %}

<div class="jumbotron" style="margin-top:40px">
      <div class="container" >
       <ul class = "nav pull-left" style="padding: 2%">
       
       </ul>
        <h1>Fishing in {{city}}</h1>
       
        


      </div>
    </div>

{% endblock %}





{% block main %}
<div class="container" style="margin-left:20%; margin-right:20%;">
      <!-- Example row of columns -->
   <ul class="nav nav-tabs">
  <li ><a href="{% url 'insideCity_wall' user.country.slug user.city.slug %}"><img src = "/media/Images/wall.png" style="margin-right:5px">Wall</a></li>
  
  
  {% notifications_unread as unread_count %}
      

        {% if unread_count %}
      <li class="active"><a href="{% url 'notifications' user_id=user.id %}">Notifications<span class="badge pull-right" style="background-color:orange; margin-left:5px">{{unread_count}}</span></a></li>
  {%else%}
  <li class="active"><a href="{% url 'notifications' user_id=user.id %}">Notifications</a></li>
  {% endif %}
  

</ul>   
    



<div class="row marketing" style = "padding-top:10px;border:dotted 1px">

  <div class="container" >

  
    
      
 {% notifications_unread as unread_count %}

{% if unread_count %}
    <div class ="row">

    <p style="text-align:center; "> New </p>
    <div class="pull-right" style="margin:10px;">
     <a style="text-decoration:none" href="{% url 'clear_notifications' %}"><button class="btn btn-success btn-sm"> Clear all <i class="glyphicon glyphicon-cog" style="size:75%"></i></button></a><br>
  </div>
</div>
  {% for notification in user.notifications.unread %}  
    
    <div class="alert alert-danger">
      <a href="{% url 'views.process_notification_and_redirect_view' notification_id=notification.id %}" style="text-decoration:none">{{notification}}</a>
        </div>
    
  {% endfor %}
{% else %}


<p style="text-align:center; "> No new notifications </p>



{%endif%}
</div>
</div>
  
  <div class="row marketing" style = "padding-top:10px;border:dotted 1px">

  <div class="container" >

    {% if user.notifications.read %}
<div class ="row">

   <p style="text-align:center; "> Old </p>
    <div class="pull-right" style="margin:10px;">
     <a style="text-decoration:none" href="{% url 'delete_notifications' %}"><button class="btn btn-danger btn-sm"> Delete all <i class="glyphicon glyphicon-cog" style="size:75%"></i></button></a><br>
  </div>
</div>

  {% for notification in user.notifications.read %}
      <div class="alert alert-success">
      <a href="{% url 'views.process_notification_and_redirect_view' notification_id=notification.id %}" style="text-decoration:none">{{notification}}</a>
        </div>

    {% endfor %}
 
{% else %}

<p style="text-align:center; "> No notifications yet </p>
{%endif%}


  </div>



</div>
{% endblock %}




  





</body>







</html>


