{% extends "index.html" %}
{% load staticfiles %}
{% load notifications_tags %}
{% load thumbnail %}
{% load endless %}
{% load voting_tags %}

{% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
   
    
    <title>Gulf Fishing</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">
     <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "city.css" %}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  
<script> 

 

</script>

    
   



  </head>
{% endblock %}

<body>
 





{% block hero %}

<div class="jumbotron" style="margin-top:40px">
      <div class="container" >
       <ul class = "nav pull-left" style="padding: 2%">
       <img class= "img-circle" src= "/media/logo.jpg" height="100px" width="100px">
       </ul>
        <h1>Fishing in {{city}}</h1>
        <p>Share information - Ask questions - Upload catches</p>
        {% if user.is_authenticated %}
        
        {% else %}


        <ul class = "nav pull-right">
        <p><a href="/register" class="btn btn-primary btn-sm">Join for FREE! &raquo;</a></p>
        </ul>


      {% endif %}
      


      </div>
    </div>

{% endblock %}





{% block main %}
<div class="container" style="margin-left:20%; margin-right:20%;">
      <!-- Example row of columns -->
   <ul class="nav nav-tabs">
  <li ><a href="{% url 'insideCity_wall' user.country.slug user.city.slug %}"><img src = "/media/Images/wall.png" style="margin-right:5px">Wall</a></li>
  <li ><a href="/locations/{{city.country.slug}}/{{city.slug}}/spots"><img src = "/media/Images/spots.png" style="margin-right:5px"> Fishing Spots</a></li>
  <li ><a href="{% url 'insideCity_items' user.country.slug user.city.slug  %}"><img src = "/media/Images/rod.png" style=" width:35px; height:35px;margin-right:5px; margin-bottom:-10px"> Buy/Sell</a></li>
  <li ><a href="{% url 'insideCity_offshore' user.country.slug user.city.slug  %}"><img src = "/media/Images/offshore.png" style="margin-right:5px"> Offshore</a></li>
  <li><a href="{% url 'insideCity_fishes' user.country.slug user.city.slug  %}"><img src = "/media/Images/fishes.png" style="margin-right:5px"> Fishes</a></li>
  <li><a href="{% url 'insideCity_scuba' user.country.slug user.city.slug  %}"><img src = "/media/Images/scuba.png" style="margin-right:5px"> Scuba diving</a></li>
  
  {% notifications_unread as unread_count %}
      

        {% if unread_count %}
      <li class="active"><a href="{% url 'notifications' user_id=user.id %}">Notifications<span class="badge pull-right" style="background-color:orange; margin-left:5px">{{unread_count}}</span></a></li>
  {%else%}
  <li class="active"><a href="{% url 'notifications' user_id=user.id %}">Notifications</a></li>
  {% endif %}
  

</ul>   
    



<div class="row marketing" style = "padding-top:10px;border:dotted 1px">

  <div class="container" >

  
    
      
 {% notifications_unread as unread_count %}

{% if unread_count %}
    <p style="text-align:center; "> New </p>

  {% for notification in user.notifications.unread %}  
    
    <div class="alert alert-danger">
      <a href="{% url 'views.process_notification_and_redirect_view' notification_id=notification.id %}" style="text-decoration:none">{{notification}}</a>
        </div>
    
  {% endfor %}
{% else %}


<p style="text-align:center; "> No new notifications </p>



{%endif%}
</div>
</div>
  
  <div class="row marketing" style = "padding-top:10px;border:dotted 1px">

  <div class="container" >

    {% if user.notifications %}

<p style="text-align:center; "> Old </p>
  {% for notification in user.notifications.read %}
      <div class="alert alert-success">
      <a href="{% url 'views.process_notification_and_redirect_view' notification_id=notification.id %}" style="text-decoration:none">{{notification}}</a>
        </div>

    {% endfor %}
 
{% else %}

<p style="text-align:center; "> No notifications yet </p>
{%endif%}


  </div>



</div>
{% endblock %}




  





</body>







</html>


