{% extends "base.html" %}
{% load staticfiles %}
{% load notifications_tags %}
{% load thumbnail %}
{% load endless %}
{% load voting_tags %}



{% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
   
    
    <title>GFC {{city.name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="/media/fishing_logo.png">
     
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">

   
    <!-- Custom styles for this template -->
    <link href="{% static "city.css" %}" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
 <script>
    



    $(document).ready(function(){

     $('.upButton').click(function(){
        var post_id = $(this).data('id');
        
        $.ajax({
            url: "{% url 'upvote_ajax' %}",
            dataType:"json",
            type:"POST",
            data:{
              post_id:post_id,
              csrfmiddlewaretoken:'{{csrf_token}}',
            },
            success:function(json)
            {
              
               $('.post-points[data-id='+post_id+']').html(json.points);
               $('.upButton[data-id='+post_id+']').css('color', 'orange');

              
            },
          
        });

      });

    

    });
  




  </script>
   





  </head>
{% endblock %}

<body>
 {% block bar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url 'index' %}>Gulf Fishing</a>
        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
       
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
 {% if user.is_authenticated %}
            <li><a href={% url 'profile' user.id %}>Profile</a></li>
  {% endif %}

  <!--          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>   -->
          </ul>
          {% block user %}
      
    {% if user.is_authenticated %}
    
      <ul class="nav pull-right" style="padding:2%">
     <a href="{% url 'logout' %}" class="btn btn-primary icon  pull-right">Log out</a>
    </ul>

      <ul class="nav pull-right" style="padding:1%">
   <a href="{% url 'profile' user.id %}" ><h5 style="color: #0099FF"> {{ user.name }}</h5></a>
    <h6  style="color: #CC0000">{{user.reputation}}</h6>
        </ul>
      

      <ul class="nav pull-right" style="padding-top: 1%; padding-right:0.5%">
        
        {% thumbnail  user.image "50x50" crop="center" as im %}
       <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}  
        
      </ul>
    
      
       


    
    {% else %}


     <form class="navbar-form navbar-right" action= "{% url 'login' %} ?next={{request.path }}" method="post">{%csrf_token%}
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <input button type="submit" class="btn btn-success" value="Sign In">
          </form>
        <!--/.navbar-collapse -->
  {% endif %}      
  </div>
  </div>
    {% endblock %}
    </div>
{% endblock %}






{% block hero %}

<div class="jumbotron" style="margin-top:40px">
      <div class="container" >
       <ul class = "nav pull-left" style="padding: 2%">
       <img src= "/media/fishing_logo.png" height="100px" width="100px">
       </ul>
        <h1>Fishing in {{city}}</h1>
        <p>Share information - Ask questions - Upload catches</p>
        {% if user.is_authenticated %}
        
        {% else %}
        

        <ul class = "nav pull-right">
        <p><a href="/register" class="btn btn-primary btn-sm">Join for FREE! &raquo;</a></p>
        </ul>


      {% endif %}
      


      </div>
    </div>

{% endblock %}









  
<div class="mainblock">

{% block main %}



<div class="container" style="margin-left:20%; margin-right:20%;">
      <!-- Example row of columns -->
   <ul class="nav nav-tabs" >
  <li  ><a href="{% url 'insideCity_wall' city.country.slug city.slug %}"><img src = "/media/Images/wall.png" style="margin-right:5px"> Wall</a></li>
  <li ><a href="{% url 'insideCity_spots' city.country.slug city.slug %}"><img src = "/media/Images/spots.png" style="margin-right:5px"> Fishing Spots</a></li>
  <li ><a href="{% url 'insideCity_items' city.country.slug city.slug %}"><img src = "/media/Images/rod.png" style=" width:35px; height:35px;margin-right:5px; margin-bottom:-10px"> Buy/Sell</a></li>
<li class="active"><a href="{% url 'insideCity_offshore' city.country.slug city.slug %}"><img src = "/media/Images/offshore.png" style="margin-right:5px"> Offshore</a></li>
<li><a href="{% url 'insideCity_fishes' city.country.slug city.slug %}"><img src = "/media/Images/fishes.png" style="margin-right:5px"> Fishes</a></li>
<li ><a href="{% url 'insideCity_scuba' city.country.slug city.slug %}"><img src = "/media/Images/scuba.png" style="margin-right:5px"> Scuba diving</a></li>

  <li></li>
  {% if user.is_authenticated %}
  {% notifications_unread as unread_count %}
        


        {% if unread_count %}
      
      <li><a href="{% url 'notifications' user_id=user.id %}">Notifications<i class="badge pull-right" style="background-color:orange; margin-left:5px">{{unread_count}}</span></a></li>
  
      {% else %}
  <li class="pull-right"><a href="{% url 'notifications' user_id=user.id %}">Notifications</a></li>


  {% endif %}
  
  {% endif %}
</ul>   
    


 





<--offshore goes here !-->








   
    <hr>





{% endblock %}



</body>







</html>