


<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
 


  </head>


<body >


<div style="width:600px; height:800px;">
  
  <p>{{author.name}}'s post:</p><br>
  <div style="background-color:#F5F5F5; margin:15px; padding:15px;">
    {{post.text}}<br>

  </div>
   
  <div style="text-align:center">
   <a href = "http://www.gccfishing.com/locations/{{post.country.slug}}/{{post.city.slug}}/wall/"> View post </a>
     </div>
        
 </div>
       
        
         
        
<p style="font-size:small; color:grey; text-align:center;">If you wish to unsubscribe notifications, you can do so from your profile</p>


	</body>








</html>



