
{% load staticfiles %}
{% load thumbnail %}
{% load hitcount_tags %}


{% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/media/fishing_logo.png">

    <title>GFC Member Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">
   

    <!-- Custom styles for this template -->
    <link href="{% static "jumbotron.css" %}" rel="stylesheet">
    
   <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
   <link href="{% static "styles-blue.css" %}" rel="stylesheet">

    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>

 $(document).ready(function(){
    
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken')

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
})


    {% get_hit_count_javascript for member %}



});



 
</script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
{% endblock %}


<body>
{% block bar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href={% url 'index' %}>Gulf Fishing</a>
        </div> 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
 
            
  

  <!--          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>   -->
          </ul>
     
{% block user %}

     {% if user.is_authenticated %}

      <div class="pull-right">
        <ul class = "nav pull-right">
           <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile' user.id %}"><img src="/media/Images/profile.png" style="width:18px;height:20px;margin-right:5px;">Profile</a></li>
                            <li><a href="/idea"><img src="/media/Images/bulb.png" style="width:15px;height:20px;margin-right:5px;"> Suggest idea</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><img src="/media/Images/power.png" style="width:18px;height:20px;margin-right:5px;"> Logout</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
   

 
      
    
    
     

      <ul class="nav pull-right" style="padding:1%; ">
   <a href="{% url 'profile' user.id %}" style="text-decoration:none"><h5 style="color: #0099FF"> {{ user.name }}</h5></a>
    <h6 style="color: #CC0000; text-align:center;"><b>{{user.reputation}}</b></h6>
        </ul>
      

      <ul class="nav pull-right" style="padding-top: 1%; padding-right:0.5%">
        
        {% thumbnail  user.image "50x50" crop="center" as im %}
       <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}  
        
      </ul>
    
      
       


    
    {% else %}


     <form class="navbar-form navbar-right" action= "{% url 'login' %} ?next={{request.path }}" method="post">{%csrf_token%}
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <input button type="submit" class="btn btn-success" value="Sign In">
          </form>
        <!--/.navbar-collapse -->
  {% endif %}      
  </div>
  </div>
    {% endblock %}
    </div>
{% endblock %}

{% block hero %}
<div class="jumbotron" style="margin-top:40px">
     
      <div class="container" >
       
          {% if user.id == member.id %}
        
    <div class="col-lg-2" style="background-color:; margin:20px; text-align:center;">
    <h4 title="Member name"> <b>{{ member.name }}</b></h4></a>
      




        

   {% thumbnail member.image "150x150" crop="center" as im %}
    <img src = "{{im.url}}" width="{{im.width}}" height="{{im.height}}"/>
    {% endthumbnail %}
    <h5 title="Member Reputation"><b>{{member.reputation}}</b></h5>
     

      </div>
      <div class="col-lg-4" style="background-color:; margin:20px;">

      
      
      <h5><b>{{member.city}}</b>, {{member.country}} </h5>
      <h5><i>{{member.email}}</i></h5>
      <h5>Member since: <b>{{member.date_joined|timesince}}</b></h5>

      </div>
        
      <div class="col-lg-2" style="background-color:;margin:20px;">
        <h5>Last seen:</h5>
        <h5>Posts created: <b>{{user.posts.count}}</b></h5>
        <h5>Profile Views: <b>{% get_hit_count for member %}</b></h5>

      




      </div>
        <div class = "pull-right">
        <a style="text-decoration:none" href="{% url 'edit_profile' member.id %}"><button class="btn btn-info btn-sm"> Edit Profile &nbsp<i class="glyphicon glyphicon-cog" style="size:75%"></i></button></a><br>
       <a href="{% url 'insideCity_wall' user.country.slug user.city.slug %}" class="btn btn-warning">Back to Wall &raquo;</a>
     </div>
          




          {% else %}

      
       <div class="col-lg-2" style="background-color:; margin:20px; text-align:center;">
       <h4> {{ member.name }}</h4></a>
       {% thumbnail  member.image "150x150" crop="center" as im %}
       <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}">
       {% endthumbnail %}  
       <h5 >{{member.reputation}}</h5>
      </div>
      <div class="col-lg-4" style="background-color:; margin:20px;">
      
      
      <h5><b>{{member.city}}</b>, {{member.country}} </h5>
      <h5>{{member.email}}</h5>
      <h5>Member since: {{member.date_joined|timesince}}</h5>



      </div>
        
      <div class="col-lg-2" style="background-color:;margin:20px;">
        <h5>Last seen:</h5>
        <h5>Posts created: <b>{{user.posts.count}}</b> </h5>
        <h5>Profile Views:<b> {% get_hit_count for member %}</b></h5>
        
      </div>


      
        
        
        


        
        {%endif%}
        

      </div>
    </div>
{%endblock%}


{%block main%}
<div class="jumbotron" style="background-color:white">
 
<div class="col-lg-8" style="background-color: ;">
<p style="font-family:'Cookie', cursive; text-align:center;">Some of {{member.name}}'s fishing.</p>

<div class ="row" style="background-color:">
{% for post in row_1 %}
  {% thumbnail post.image "75x75" crop="center" as im %}
 <a href="{{post.image.url}}"> 
  <img src = {{im.url}} width="{{im.width}}" height="{{im.height}}" style="margin:5px"></a>
  {%endthumbnail%}
{% endfor %}
 </div> 

<div class ="row" style="background-color:">
{% for post in row_2 %}
 {% thumbnail post.image "75x75" crop="center" as im %}
  <a href="{{post.image.url}}"> 
  <img src = {{im.url}} width="{{im.width}}" height="{{im.height}}" style="margin:5px"></a>
  {%endthumbnail%}
{% endfor %}
 </div>

<div class ="row" style="background-color:">
{% for post in row_3 %}
  {% thumbnail post.image "75x75" crop="center" as im %}
  <a href="{{post.image.url}}"> 
  <img src = {{im.url}} width="{{im.width}}" height="{{im.height}}" style="margin:5px"></a>
  {%endthumbnail%}
{% endfor %}
 </div>

<div class ="row" style="background-color:">
{% for post in row_4 %}
  {% thumbnail post.image "75x75" crop="center" as im %}
 <a href="{{post.image.url}}"> 
  <img src = {{im.url}} width="{{im.width}}" height="{{im.height}}" style="margin:5px"></a>
  {%endthumbnail%}
{% endfor %}
 </div>
<hr>

</div>
</div>

{% endblock %}



{% block footer %}
<p style="text-align:center; color:red;"><i>Please note that this website is still under development. </i></P 
   <footer class="widewrapper footer" style="margin-top:200px">
        <div class="container" >
            <div class="row footer">
                <div class="col-sm-3">
                    <h4>About GFC</h4>
                    <p>Gulf Fishing Club is a free fishing club for the people of Gulf countries to share their fishing experience.</p>
                </div>
                <div class="col-sm-3">
                    <div class="indent30">
                    <h4>Recent News</h4>
                    <ul class="grove-list">
                        <li><a href="#">GFC launches!</a></li>
                        
                    </ul>
                    </div>
                </div>
                
                

                <div class="col-sm-3">
                    <h4></h4>
                    <a href="#" class="glyphicons facebook"><i></i></a>
                    <a href="#" class="glyphicons twitter"><i></i></a>
                    <a href="#" class="glyphicons google_plus"><i></i></a>
                    <a href="#" class="glyphicons linked_in"><i></i></a>
                </div>            
            </div>
        </div>

        <div class="container">
            <div class="copyright" style="text-align:center">
                <p><img src="/media/logo.png" style="width:30px; height:30px;">Great White Studios, 2013 All Rights Reserved.</p>
            </div>
        </div>
    </footer>

{% endblock %}
<!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery.js" %}" ></script>
    <script src="{% static "bootstrap.min.js" %}"></script>

    
  </body>

</html>
