{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="media/fishing_logo.png">

    <title>Club Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-fileupload.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-fileupload.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "register.css"%}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#add_city_link').hide();
        $('#country').change(function(){
            var country = $(this).val();
            $.ajax({
                url:"{% url 'country_select' %}",
                dataType:"json",
                type:"POST",
                data:{
                    country:country,
                    csrfmiddlewaretoken:'{{csrf_token}}',
                },
                success:function(json)
                {   $('#city').empty();
                    $.each(json, function(key,value){
                        $('#city').append($("<option></option>").attr("value",value).text(value));

                    });

                   
                },
            });

        });

    

        $('#country').change(function(){
            $('#add_city_link').show();
        });

        });



    </script>


  </head>

  <body style="background-image:url('/media/Images/lure.jpg');background-repeat:no-repeat;">

    <div class="container">
        <div class="pull-right">
	<div class="span6" style="text-align:center">
	<div class="font-effect-shadow-multiple" style="font-family:Rancho;font-size:50px"><img src="media/fishing_logo.png" style="width:150px;height:150px">Gulf Fishing Club Registration</div> 
	<form class="form-signin" method="post" enctype="multipart/form-data">{% csrf_token %}
       
	
	<div class="fileupload fileupload-new" data-provides="fileupload" style="text-align:center">
	<div class="fileupload-new thumbnail" style="width: 150px; height: 150px;">
	<img src="media/Images/default_profile_image.png" /></div>
	<div class="fileupload-preview fileupload-exists thumbnail" style="max-width:150px;max-height: 150px; line-height: 20px;"></div>
	<div>
	<span class="btn btn-file"><span class="fileupload-new"><i class="glyphicon glyphicon-camera"></i></span>
	<span class="fileupload-exists">Change</span>
	<input name = "image" type="file"/></span>
	<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
		</div>
		</div>
		
		
	<input type="text" name = "name" class="form-control" placeholder="Name" autofocus>        
	<input type="text" name = "email" class="form-control" placeholder="Email address">

        <input type="password" name = "password1" class="form-control" placeholder="Password">
	<input type="password" name = "password2" class="form-control" placeholder="Verify Password">        
	</label>
            
            <div class="control-group">
                <label for="country" class="control-label"> 
                        
                </label>
              


            <div class="control-group">
                <label for="country" class="control-label"> 
                        
                </label>
                    <div class="controls">
                        <select name="country" id="country" class="form-control">
                            <option value="">Select Country</option>
                            {% for country in countries %}
                            <option value="{{country}}">{{country}}</option>
                            {% endfor %}
                        </select>
                    </div>
            </div>

        <div class="control-group" style="padding:2%">
                <label for="city" class="control-label" style="color:grey; font-family: helvetica  ; font-size: 16"> 
                        
                </label>
                    <div class="controls">
                        <select name="city" id="city" class="form-control">   <!-- javascript function to display cities for country -->
                            <option value="">Select City</option>
                            
                        </select>
                    </div>
                </div>

        <input button class="btn btn-lg btn-primary btn-block" id = "register_button" type="submit" value = "Register">
      </form>
      <div class="alert alert-info" id="add_city_link" style="margin:20px">Dont see your city? <a href="/add_city"><b>Click here to add it.</b></a></div>
  </div>
</div>
</div>
    </div> <!-- /container -->

	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "bootstrap.js" %}"></script>
    <script src="{% static "jquery.js" %}"></script>
    <script src="{% static "bootstrap-fileupload.js" %}"></script>
    <script src="{% static "bootstrap-fileupload.min.js" %}"></script>
    
    	  
</body>
</html>
