
{% extends "base.html"%}
{% load staticfiles %}
{% load thumbnail %}

{% block head %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap_wall.css"%}" rel="stylesheet">
    <link href="{% static "bootstrap.min.css"%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "wall.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
{% endblock %}
  






  <body>

    {% block hero %}
    
<div class="jumbotron">
  <div class="container">
    
  </div > 
</div > 
  {% endblock %}
 
	{% block main %}
   <div class=" span10" "container" style="padding-left: 20% ">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-8" >
           <div class="span10 well">
  
          <div class ="panel panel-primary">
            
         
                
                  <form accept-charset="UTF-8" action="" method="POST">
                    <textarea class="span" id="new_message" name="new_message"
                       placeholder="Type in your message" rows="5"></textarea>
                    
                  <button class="btn btn-info" type="submit" style="padding-bottom: 2%">Post New Message</button>
                </form>
              
  
          
         </div>   

     
      </div>
  



<div class="well">

  {% for post in posts %}
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title"> 
                      <div class="nav pull-left">
                      

                      {% thumbnail  post.author.image "50x50" crop="center" as im %}
                      <img src="{{im.url}}" width="{{ im.width }}"height="{{ im.height }}" style=" border: solid 2px">
                      {% endthumbnail %}
                      </div>
                      <a href= "{% url 'profile' post.author.id %}" style="padding-left:1%">{{post.author.name }}
                       </a> <h6 style="padding-left: 10%">{{post.author.reputation}}</h6>

                      

                        
                      
                </div>
                  <div class="panel-body">
                   
                    {% thumbnail post.image "200x200" crop="center" as im %}
                      <a href="{{post.image.url}}"><img src= "{{im.url}}" width="{{im.width}}" height="{{im.height}}" ></a>
                    {% endthumbnail %}
                   
                    {{post.text}}

                  </div>
                </div>  

                
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>

           </div>
          {% endfor %}
        </div>
      </div>
 </div>


{% endblock %}
	 


    
      
      
	
	
	
	   
 	
	
			

	

	
	
     
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src= "{% static "jquery.js" %} " ></script>
    <script src="{% static "bootstrap.min.js"%}"></script>
  </body>
</html>
